:root {
    --black: #11151f;
    --dark-grey: #d4d4d4;
    --grey-blue-hover: #283040;
    --grey-blue: #374456;
    --mid-grey: #f1f1f1;
    --white: #fcfcfc;
    --yellow: #e5b261;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

header h1 {
    font-size: 2.5em;
    color: var(--grey-blue);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--mid-grey);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.image-section svg {
    width: 100px;
    height: 100px;
}

.form-section {
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-section h2 {
    color: var(--grey-blue);
    font-size: 1.8em;
    margin-bottom: 10px;
}

.form-section p {
    font-size: 1em;
    color: var(--dark-grey);
    margin-bottom: 20px;
}

form {
    width: 100%;
}

form fieldset {
    border: none;
    margin-bottom: 20px;
}

form legend {
    font-size: 1.2em;
    color: var(--grey-blue);
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: var(--grey-blue);
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="date"],
form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 15px;
    background-color: var(--yellow);
    border: none;
    border-radius: 5px;
    font-size: 1em;
    color: var(--white);
    cursor: pointer;
    margin-bottom: 10px;
}

form button:hover {
    background-color: var(--grey-blue-hover);
}

.trial-button {
    background-color: var(--yellow);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.trial-button:hover {
    background-color: var(--grey-blue-hover);
}

.agreement {
    font-size: 0.8em;
    color: var(--dark-grey);
}

.agreement a {
    color: var(--grey-blue);
    text-decoration: none;
}

.agreement a:hover {
    text-decoration: underline;
}